@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
        <li class="nav-item">
            <form asp-controller="Catalogo" asp-action="Index">
                 <div class="form-outline">
                     <input type="Buscar" id="form1" class="form-control" placeholder="Buscar" aria-label="Search" />
                </div>
            </form>
        </li>

@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">
        <form asp-controller="Proforma" asp-action="Index">
                <button  type="submit" class="nav-link btn btn-link text-dark"><b>Carrito</b></button>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="Index"><b>Pagos</b></a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UsersMatricula" asp-action="Index"><b>Matriculas</b></a>
        </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>@User.Identity?.Name</b></a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><b>Salir</b></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><b>Registrar</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><b>Ingresar</b></a>
    </li>
}
</ul>