@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    IdentityUser myidentity = await Task.Run(() => UserManager.GetUserAsync(User));
    var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));

    @if(roles.Contains("admin") ){    
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="Index"><b>Pagos</b></a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UsersMatricula" asp-action="Index"><b>Matriculas</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index"><b>Productos</b></a>
        </li> 
        <li class="nav-item ">
        <a class="nav-link text-dark" asp-area="" asp-controller="UsersInfo" asp-action="Index"><b>Datos de Usuarios</b></a>
        </li>
        <li class="nav-item ">
        <a class="nav-link text-dark" asp-area="" asp-controller="MenuAdmin" asp-action="Index"><b>Menu Administrador </b></a>
        </li>    
    }

}    