@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Menu Administrador</h1>
    <br>
    <a class="btn btn-primary btn-lg btn-block" asp-controller="MenuAdmin" asp-action="Menupagos">Menu de gestion de Pagos</a>
    <br>
    <br>
    <br>
    <a class="btn btn-primary btn-lg btn-block" asp-controller="MenuAdmin" asp-action="Menureclamos">Lista de reclamos</a>
    <br>
</div>