@{
    ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Menu Administrador</h1>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Menu de gestion de Pagos</button>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Lista de reclamos</button>
    <br>
</div>