@{
    ViewData["Title"] = "Menu de Reclamos";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Menu de Contacto</h1>
    <br>
    <br>
    <br>
    <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-controller="Contacto" asp-action="Indexadmin"><b>Lista Central</b></a>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Lista de Reclamos Resueltos</button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Lista de Reclamos en Espera</button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Lista de Reclamos Pendientes</button>
    <br>
    <br>
    <br>
</div>