@{
    ViewData["Title"] = "Menu de Pagos";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Menu de Pagos</h1>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Lista Total</button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Alumnos</button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Lista de Reclamos en Espera</button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Lista de Reclamos Sin Resolver</button>
    <br>
    <br>
    <br>
</div>