@model appproy.Models.Pagos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nuevo Pagos Mensuales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">UserID</label>
                <input asp-for="UserID" class="form-control" value="@User.Identity?.Name" readonly/>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">NOMBRES</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">APELLIDOS</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label">DNI</label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computacion_info" class="control-label"></label>
                <input asp-for="Computacion_info" class="form-control" />
                <span asp-validation-for="Computacion_info" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Confeccion_info" class="control-label"></label>
                <input asp-for="Confeccion_info" class="form-control" />
                <span asp-validation-for="Confeccion_info" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Estetica_info" class="control-label"></label>
                <input asp-for="Estetica_info" class="form-control" />
                <span asp-validation-for="Estetica_info" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Turno" class="control-label"></label>
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Codigo_recibo" class="control-label"></label>
                <input asp-for="Codigo_recibo" class="form-control" />
                <span asp-validation-for="Codigo_recibo" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Foto_recibo" class="control-label"></label>
                <input asp-for="Foto_recibo" class="form-control" />
                <span asp-validation-for="Foto_recibo" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Apuntes" class="control-label"></label>
                <input asp-for="Apuntes" class="form-control" />
                <span asp-validation-for="Apuntes" class="text-danger"></span>            
          
            <div class="form-group">
                <label asp-for="Mes_Matricula" class="control-label"></label>
                <input asp-for="Mes_Matricula" class="form-control" />
                <span asp-validation-for="Mes_Matricula" class="text-danger"></span>
            
            </div>
               <div class="form-group">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" />
                <span asp-validation-for="Año" class="text-danger"></span>
            
            </div>
               
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}