@model appproy.Models.Pagos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pagos Pagos Mensuales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="NOMBRES_Y_APELLIDOS" class="control-label">Nombre</label>
                <input asp-for="NOMBRES_Y_APELLIDOS" class="form-control" />
                <span asp-validation-for="NOMBRES_Y_APELLIDOS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label">DNI</label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computacion_info" class="control-label"></label>
                <input asp-for="Computacion_info" class="form-control" />
                <span asp-validation-for="Computacion_info" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Confeccion_info" class="control-label"></label>
                <input asp-for="Confeccion_info" class="form-control" />
                <span asp-validation-for="Confeccion_info" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Estetica_info" class="control-label"></label>
                <input asp-for="Estetica_info" class="form-control" />
                <span asp-validation-for="Estetica_info" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Turno" class="control-label"></label>
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Codigo_recibo" class="control-label"></label>
                <input asp-for="Codigo_recibo" class="form-control" />
                <span asp-validation-for="Codigo_recibo" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Foto_recibo" class="control-label"></label>
                <input asp-for="Foto_recibo" class="form-control" />
                <span asp-validation-for="Foto_recibo" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Apuntes" class="control-label"></label>
                <input asp-for="Apuntes" class="form-control" />
                <span asp-validation-for="Apuntes" class="text-danger"></span>            
          
            <div class="form-group">
                <label asp-for="Mes_Matricula" class="control-label"></label>
                <input asp-for="Mes_Matricula" class="form-control" />
                <span asp-validation-for="Mes_Matricula" class="text-danger"></span>
            
            </div>
               <div class="form-group">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" />
                <span asp-validation-for="Año" class="text-danger"></span>
            
            </div>
               
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}