@model appproy.Models.Pagos

@{
    ViewData["Title"] = "Edit Simplificado";
}

<h1>Edit</h1>

<h4>Pagos Pagos Mensuales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Apellido</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DNI" />
            <input type="hidden" asp-for="Celular" />
            <input type="hidden" asp-for="Area" />
            <input type="hidden" asp-for="Curso" />
            <input type="hidden" asp-for="Turno" />
            <input type="hidden" asp-for="Monto" />

            
               <div class="form-group">
                <label asp-for="Codigo_recibo" class="control-label"></label>
                <input asp-for="Codigo_recibo" class="form-control" />
                <span asp-validation-for="Codigo_recibo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Foto_recibo" />
            <p>--------------------------</p>
               <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <br>
                <br>
                <input asp-for="Status" type="radio" value="PAGADO">
                <label asp-for="Status" for="html">PAGADO</label><br>
                <br>
                <input asp-for="Status" type="radio" value="SIN_RESOLVER">
                <label asp-for="Status" for="html">SIN_RESOLVER</label><br>
                <br>
                <input asp-for="Status" type="radio" value="PENDIENTE">
                <label asp-for="Status" for="html">PENDIENTE</label><br>
                <br>
            </div>
            <p>--------------------------</p>
               <div class="form-group">
                <label asp-for="Apuntes" class="control-label"></label>
                <input asp-for="Apuntes" class="form-control" />
                <span asp-validation-for="Apuntes" class="text-danger"></span>            
          
            <p>--------------------------</p>
            <div class="form-group">
                <label asp-for="Mes_Matricula" class="control-label"></label>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Enero">
                <label asp-for="Mes_Matricula" for="html">Enero</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Febrero">
                <label asp-for="Mes_Matricula" for="html">Febrero</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Marzo">
                <label asp-for="Mes_Matricula" for="html">Marzo</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Abril">
                <label asp-for="Mes_Matricula" for="html">Abril</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Mayo">
                <label asp-for="Mes_Matricula" for="html">Mayo</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Junio">
                <label asp-for="Mes_Matricula" for="html">Junio</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Julio">
                <label asp-for="Mes_Matricula" for="html">Julio</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Agosto">
                <label asp-for="Mes_Matricula" for="html">Agosto</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Septiembre">
                <label asp-for="Mes_Matricula" for="html">Septiembre</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Octubre">
                <label asp-for="Mes_Matricula" for="html">Octubre</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Noviembre">
                <label asp-for="Mes_Matricula" for="html">Noviembre</label><br>
                <br>
                <input asp-for="Mes_Matricula" type="radio" value="Diciembre">
                <label asp-for="Mes_Matricula" for="html">Diciembre</label><br>
                <br>
            </div>
            <p>--------------------------</p>
               <div class="form-group">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" />
                <span asp-validation-for="Año" class="text-danger"></span>
            
            </div>
               
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}