@{
    ViewData["Title"] = "Contacto";
}
<head>
    <div class="section" id="contacto">
        <h1><strong>Contacto</strong></h1><br>
    </div>
</head>
<body>
    <div text.align="left">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus magni hic, <br>
            sapiente quos voluptatibus incidunt reprehenderit ipsum libero doloremque saepe <br>
            assumenda tenetur rerum. Amet error nemo molestiae neque, et maxime!. <br>

           

        </p>
        <p>
            <Strong>CORREO:</Strong><br>
                 <a href="cetprolamolina@gamil.com"> cetprolamolina@gamil.com </a>
        </p>
        <p>
            <Strong>Numeros de contacto:</Strong><br>
             960658675<br>
             980599558<br>

        </p>


        <p>
        <strong>LOCALIZACION DE NUESTRAS OFICIANAS</strong>
        </p>

        <div class="section" id="horario">
             <P>
                 LUNES-SABADO &nbsp;&nbsp;  8:00 - 15:00 <br>
                 DOMINGOS   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00 - 13:00 <br>
             </P> 
              <div class="container p-4" align="center"> 
                <iframe title="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5999494231382!2d-76.96077278518719!3d-12.071022791451183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6fa0064aa1b%3A0x26cef28da66557bf!2sCETPRO%20-%20La%20Molina!5e0!3m2!1ses-419!2spe!4v1650229697650!5m2!1ses-419!2spe" width="500" height="250" style="border:0; padding-top: 20px;padding-left: 100px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
          

        
    </div>
</body>
