@{
    ViewData["Title"] = "Contacto";
}
<body>
    <div text.align="left">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus magni hic, 
            sapiente quos voluptatibus incidunt reprehenderit ipsum libero doloremque saepe 
            assumenda tenetur rerum. Amet error nemo molestiae neque, et maxime!

           

        </p>
        <p>
            <Strong>CORREO:</Strong><br>
                 <a href="cetprolamolina@gamil.com"> cetprolamolina@gamil.com </a>
        </p>
        <p>
            <Strong>Numeros de contacto:</Strong><br>
             960658675<br>
             980599558
        </p>

        <p>
        <strong>LOCALIZACION DE NUESTRAS OFICIANAS</strong>
        </p>
        
    </div>
</body>
