@{
    ViewData["Title"] = "Inicio";
}
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/estilos.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section class="portada">
    <div class="container cuerpo">
      
        <img src="https://www.munimolina.gob.pe/wp-content/uploads/2021/02/WhatsApp-Image-2021-02-03-at-9.56.57-AM.jpeg" class="img-fluid">
        <br>
</section>
<br>
    <p class="destacados">Destacados</p>
<br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://scontent.flim18-3.fna.fbcdn.net/v/t1.6435-9/150329073_1197281797395188_5966483874167915187_n.jpg?_nc_cat=107&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeGyM7JOzZAZJ6LFlTJP0jxVV-0zR3h1YF1X7TNHeHVgXZG9E2a2O9kHetxmbDJ7NQncPKQ1rDqGooByTFzT_VsJ&_nc_ohc=okt2ZDP20-cAX-wXGuP&_nc_ht=scontent.flim18-3.fna&oh=00_AT_wM4HEpW5n_gwDiWhfEjS0CQ-pywJgZPgrVNo9QMb0-Q&oe=62A5FEC9" class="d-block w-100" alt="oferta1">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.flim18-1.fna.fbcdn.net/v/t1.6435-9/185073433_222664556326527_3821299874931042759_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeEkwBuymZU_chHOmO8wsxHh79SYH7leKOTv1JgfuV4o5G3Vn0gt2tJ4d60bf7jy7nwltisZ5txVaTRmQbghv5CV&_nc_ohc=oWrrwWK67ggAX9RxVhR&_nc_ht=scontent.flim18-1.fna&oh=00_AT_GbTEISOlVAoYS-3EE0xx5JXruM69z1cvaA7N0v3VL_A&oe=62A5CB21" class="d-block w-100" alt=" oferta2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.flim18-2.fna.fbcdn.net/v/t1.6435-9/151294657_1197282050728496_7602790845116444232_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeHhQ9Gr9uUXEkl05pwg39YZ161pVB_tcNHXrWlUH-1w0eMK7pt18K0usxCNUCMpTumrD8hEzEhhdWVrE_Cb4SBD&_nc_ohc=NayrBWJ404IAX_hy5mU&_nc_ht=scontent.flim18-2.fna&oh=00_AT_JFzHi0rim9xF54ZcJcgZoslCj4_qkyZ9cRaywtW1GBg&oe=62A63FF4" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <br>

<div class="propuesta"> 
    <p>Nuestra propuesta</p>
</div>

<div class="texto">
    <p>Otorgamos a los jovenes peruanos la oportunidad de desarrollo profesional mediante el aprendizaje practico 
         dentro de la empresa y capacitaciones debidamente certificadas.</p>
</div>

<section class="post-list">
    <div class="content">
        <article class="post">
            <div class="post-header">
                <div class="imagem">
                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/silhouettes/3517442/laptop-silhouette-4bb7ee-sm.png" alt="imagen1">
                </div>
                    <div class="post-body">
                        <h2>Capacitacion Virtual</h2>
                        <p>
                            Desarrollamos cursos deacuerdo a las realidades necesarias de nuestros clientes. En la actualidad contamos con
                            mas de 130 cursos en nuestro sistema.
                        </p>

                    </div>
            </div>
        </article>
    </div>

     <div class="content">
        <article class="post">
            <div class="post-header">
                <div class="imagem">
                    <img src="https://st.depositphotos.com/6876720/51382/v/600/depositphotos_513821554-stock-illustration-person-silhouette-black-and-white.jpg" alt="imagen2">
                </div>
                    <div class="post-body">
                        <h2>Capacitacion Presencial</h2>
                        <p>
                            Mediante el desarrollo de competencias blandas. Brindamos al aprendiz una serie de herramientas para que pueda reconocer y mejorar
                            sus propias habilidades y asi incrementar su desempeño en el Cetpro.
                        </p>

                    </div>
            </div>
        </article>
    </div>

     <div class="content">
        <article class="post">
            <div class="post-header">
                <div class="imagen">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj96Kz6mHVWTVzYTFC1hh4FBlV9ni1B2eRg73PhgWixg-6sdqKh0-S0pVbtSwNER-baSY&usqp=CAU" alt="img3">               
                 </div>
                    <div class="post-body">
                        <h2>Reclutamiento, Evaluacion y Seleccion de personal</h2>
                        <p>
                            Contamos con un equipo especializado que recluta, evalua y selecciona a los colaboradores mas 
                            optimos al puesto para el puesto en base a las competenias laborales.
                        </p>

                    </div>
            </div>
        </article>
    </div>   
</section>
<div class = "creciendo">
    <a href="https://ibb.co/7gH4bwh"><img src="https://i.ibb.co/cbPLxGq/creciendo-juntos.jpg" alt="creciendo-juntos" border="0"></a>
</div>
</body>
