@{
    ViewData["Title"] = "Curriculas";
}
<body>
    <section class="portada">
    <div class="container cuerpo">
        <img src="https://www.munimolina.gob.pe/wp-content/uploads/2021/02/WhatsApp-Image-2021-02-03-at-9.56.57-AM.jpeg">
    </div>
    <br>
        <h1><strong>MISION</strong></h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum fugiat voluptatem quos corporis, <br>
            laudantium quisquam culpa nihil, excepturi dolorem recusandae repudiandae error inventore quis tempore pariatur <br>
            iusto numquam a.
        </p>

        <h1><strong>VISION</strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum fugiat voluptatem quos corporis, <br>
            laudantium quisquam culpa nihil, excepturi dolorem recusandae repudiandae error inventore quis tempore pariatur <br>
            iusto numquam a.
        </p>

        <h1><strong>ORGANNIGRMA</strong></h1>

            <section class="portada">
                <div class="container cuerpo">
                    <img src="https://www.figma.com/file/L6UVjx6bQbK3q9BskViFWx/CETPRO-LA-MOLINA?node-id=108%3A49">
                </div>

</body>