
.propuesta{
  font-size: 45px;  
  font-weight: bold;
  text-align: center;
}
.texto{
    text-align: center;
    font-weight: bold;
}

.creciendo{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.titulo{
    text-align: CENTER;
    font-weight: bold;
    font-size: 45px;
}

.img{
 width: 200px;
 height: auto;
 margin: 0 auto;
 
}
.imagen{
width: 1200px;
}
.container button{
font-size: 45px;
text-color: black;
position: absolute;
top: 77%;
left: 20%;
width: 500px;
transform: translate(50%,-50%);
}
